@charset "utf-8";
a { text-decoration:none; color:#0074d9; }
html { position:relative; min-height:100%; }
body { padding-bottom:6rem; }
footer { position:absolute; right:0; bottom:0; left:0; padding:1rem 5vw; }

.app { width:90vw; margin:0 auto; }
.catalog ul { line-height:160%; }
.catalog time { padding-left:1em; font-size:80%; color:#85144b; }
.app video, .fallback iframe { width:100%; height:80vh; }
.sidebar { margin:0.5rem; }
.stat ul, .stat li { list-style:none; margin-left:0; padding-left:0; line-height:130%; }
